* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Raleway", sans-serif;
}

.btn-primary {
    background-color: #4E47FF;
    color: white;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 7px;
}

.btn-primary:hover {
    background-color: tomato;

}
/* .raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */



/* nav style */
header {
    padding-top: 40px;
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a img {
    margin-left: 100px;
}
nav .btn {
    margin-right: 100px;
}

/* banner style */

.banner {
    text-align: center;
    padding: 80px 0;
}
.banner h1 {
    font-weight: bold;
    color: #252432;
}
.banner .btn-primary {
    margin-top: 25px;
    text-transform: capitalize;
}

